html
    head
        title Szablony HTML
    <style type="text/css">
        include ../css/style_2.css
    </style>
    body
        h3 Poniższy link przekieruje Cię do #{name}
        a(href= url) kliknij, aby przejść do strony
